@font-face {
  font-family: "RedHatText";
  src: url("./assets/fonts/RedHatText-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-stretch: 75% 125%;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* 2. Remove default margin */
* {
  margin: 0;
}
/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}
/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}
/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
/*
  10. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}
html {
  --color-white: #fff;
  --color-rose: #fcf8f6;
  --color-rose-50: #fcf8f6;
  --color-rose-400: #ad8a85;
  --color-rose-100: #f5eeec;
  --color-rose-500: #87635a;
  --color-red: #c73b0f;
  --color-rose-900: #260f08;
  font-family: RedHatText;
}
main {
  padding: 0.5rem;
}
.activeProduct {
  border: 1px solid var(--color-red);
}
.product-card__image-btn-container {
  max-width: fit-content;
}
.product-card__image-btn-container > picture > img {
  border-radius: 8px;
}
.product-card-container .itemName {
  color: var(--color-rose-500);
  font-weight: 400;
  font-size: 16px;
}
.product-card-container .itemCategory {
  color: var(--color-rose-900);
  font-weight: 600;
}
.product-card-container .itemPrice {
  color: var(--color-red);
  font-weight: 600;
}
:is(.product-card-container .itemCategory, .product-card-container .itemPrice) {
  font-size: 18px;
}
.product-card__image-btn-container {
  position: relative;
  display: flex;
  justify-content: center;
}
.addToCartBtn {
  position: absolute;
  bottom: -22px;
  padding: 0;
  border-radius: 22px;
  border: none;
  width: 160px;
  height: 44px;
}
.addToCartBtn {
  cursor: pointer;
}
.addToCartBtn:has(.addToCartContainer) {
  color: var(--color-rose-900);
  background-color: var(--color-white);
  border: 1px solid var(--color-rose-400);
}
.addToCartBtn:has(.adjustProductContainer) {
  background-color: var(--color-red);
}

.addToCartContainer .addToCartText {
  font-weight: 600;
}
.addToCartBtn:hover:has(.addToCartContainer) {
  color: var(--color-red);
  border: 1px solid var(--color-red);
}
.addToCartBtn:hover:has(.addToCartContainer) {
  border: 1px solid var(--color-red);
}

.addToCartBtn .adjustProductContainer {
  /* center */
  justify-items: center;
  align-items: center;
}
.addToCartBtn .adjustProductContainer > img {
  width: 20px;
  height: 20px;
}
.addToCartBtn .adjustProductContainer .product-qty {
  color: var(--color-white);
  border: 1px solid var(--color-red);
  font-weight: 500;
}

/* cart */
.cart-container {
  padding: 1.5rem;
}
.cart-container .your-cart-title {
  color: var(--color-red);
}

.actionBtn {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  font-weight: 600;
  font-size: 16px;
}
.actionBtn:hover {
  background-color: var(--color-rose-900);
  cursor: pointer;
}

.cartItemsTotal {
  font-size: var(--color-rose-900);
  font-weight: 700;
  font-size: 24px;
}
.cart-with-product-container .carbon-natural-container {
  background-color: var(--color-rose-50);
  padding: 1rem;
  border-radius: 1rem;
  font-size: 14px;
  color: var(--color-rose-900);
}
.cart-with-product-container
  .carbon-natural-container
  .carbon-natural-text-bold {
  font-weight: 600;
}
.empty-cart-container .emptyCartImg {
  align-self: center;
}
.empty-cart-container .emptyCartText {
  color: var(--color-rose-500, #87635a);
}
/* cart item */
.cartItem-container {
  font-size: 14px;
  border-bottom: 1px solid var(--color-rose-100, #f5eeec);
}
.cartItem-container .cartItemName {
  color: var(--color-rose-900);
}
.cartItem-container :is(.cartItemName, .cartItemQty, .cartItemTotal) {
  font-weight: 600;
}
.cartItem-container .cartItemQty {
  color: var(--color-red);
  margin-right: 1rem;
}
.cartItem-container .cartItemPrice {
  color: var(--color-rose-500);
  font-weight: 400;
}
.cartItem-container .cartItemTotal {
  color: var(--color-rose-500);
}
.cartItem-container .cartItemImg:hover {
  cursor: pointer;
}
/* Confirm Order */
/* Confirm Order Modal */
#orderConfirmModal {
  margin: auto;
  border: none;
  border-radius: 8px;
  padding: 1.5rem;
  width: 320px;
}
.order-confirm-container .product .item-image {
  width: 40px;
  height: 40px;
}
.order-confirm-container .confirm-order-img {
  align-self: flex-start;
}
.product-list {
  background-color: var(--color-rose-100, #f5eeec);
  border-radius: 8px;
  padding: 1rem;
}
.order-confirm-container .subtitle {
  color: var(--color-rose-400);
}
.order-confirm-container .product {
  font-size: 14px;
}
:is(.order-confirm-container .item-name, .order-confirm-container .total) {
  font-weight: 600;
}
:is(
    .order-confirm-container .item-quantity,
    .order-confirm-container .item-price
  ) {
  font-weight: 400;
}
.order-confirm-container .item-quantity {
  color: var(--color-red, #c73b0f);
  margin-right: 1rem;
}
.order-confirm-container .item-price {
  color: var(--color-rose-500, #87635a);
}

[data-stack] {
  --gutter: initial;
  display: flex;
  flex-direction: column;
  gap: var(--gutter, 0px);
}
[data-inline] {
  --gutter: initial;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: var(--gutter, 0px);
}
[data-inline~="space-between"] {
  justify-content: space-between;
}

[data-split] {
  --gutter: initial;
  display: grid;
  gap: var(--gutter, 0px);
}
[data-split~="fraction:3/1"] {
  grid-template-columns: repeat(3, 1fr);
}
[data-center] {
  --gutter: initial;
}
[data-center~="center-text"] {
  text-align: center;
}
[data-center~="center-children"] {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gutter, 0px);
}
[data-grid] {
  --gutter: initial;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
  gap: var(--gutter, 0px);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  main {
    padding: 1rem;
  }
  #orderConfirmModal {
    width: 500px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  main {
    padding: 1.5rem;
  }
  #orderConfirmModal {
    width: 600px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  main {
    padding: 2rem;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 2rem;
  }
  /* cart */
  .cart-container {
    padding: 0rem;
  }
  #orderConfirmModal {
    width: 650px;
  }
}
